body {
    background-color: cornsilk;
}



.slide-container {
    height: 95vh;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slide {
    width: 95%;
    padding: 50px;
    flex: 1 0 100%;
}

.slide:nth-child(1) {
    background-color: #EFA94A;
}

.slide:nth-child(2) {
    background-color: #7FB5B5;
}

.slide:nth-child(3) {
    background-color: #A18594;
}

.slide:nth-child(4) {
    background-color: #77DD77;
}

.slide:nth-child(5) {
    background-color: #FF8C69;
}

.arrow {
    position: absolute;
    background-color: cornsilk;
    height: 100px;
    width: 70px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    top: 45%;
    transform: translateY(-50%);
}

#next {
    right: 0;
    border-radius: 20px 0 0 20px;
}

#prev {
    left: 0;
    border-radius: 0 20px 20px 0;
}

.slider {
    position: relative;
}


