body {
    margin: 0;
}

.header_box {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 88px;
    background: #1F572B;
}

.btn_glav {
    /* Футбол проще */
position: absolute;

width: 278px;
height: 112px;
left: 139px;
top: 10px;
font-family: 'Rubik Mono One' , cursive;
font-weight: 400;
font-size: 30px;
line-height: 32px;
color: #FFFFFF;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color: transparent;
border: none;
text-decoration-line: none;
}

.btn_one {
    /* история */
position: absolute;
width: 204px;
height: 62px;
left: 685px;
top: 13px;
font-family: 'Rubik Mono One' , cursive;
font-weight: 400;
font-size: 30px;
line-height: 62px;
color: #FFFFFF;
background-color: transparent;
border: none;
text-decoration-line: none;
}

.btn_three {
    /* правила */
position: absolute;
width: 312px;
height: 64px;
left: 1146px;
top: 13px;
font-family: 'Rubik Mono One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 62px;
color: #FFFFFF;
background-color: transparent;
border: none;
text-decoration-line: none;
}

.active {
    text-decoration-line: underline;
}

.header_img {
position: absolute;
width: 64px;
height: 64px;
left: 306px;
top: 13px;

background: url(image.png);
}

.health_box{
    width: 100px;
    height: 10px;
    background-color: green;
}

.health_title {
    font-family:'Roboto', sans-serif;
    position: absolute;
    font-size: 35px;
    text-align: center;
    top: 80px;
}

.all {
    margin: 0 140px;
    font-family: 'Montserrat', sans-serif;
}

.starter_picture1 {
    width: 50%;
    margin: 0 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

.starter_picture2 {
    width: 65%;
    margin: 0 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

